{% extends 'base.html' %}

{% block content %}
    {{ message }}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        {% for word in words %}
            <p>
                <input value="{{ word.id }}" name="words_to_delete_from_category" type="checkbox"/>
                <a href="{{ word.get_change_url }}">[{{ word.rating }}] {{ word.eng }} - {{ word.rus }}</a>
                ({{ word.description }}) |
            </p>
        {% endfor %}
        <button type="submit">сохранить</button>
    </form>
{% endblock %}