{% extends 'base.html' %}

{% block content %}
    <div class="search">
        <form class="d-flex" role="search" action="{% url 'all_user_words_url' %}">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
    <div class="viewcode-back">
        <h3>Список всех слов:</h3>
        <form method="post">
        {% csrf_token %}
        {% for word in page_obj %}
            <p>
            <input value="{{ word.id }}" name="words_to_delete" type="checkbox"/>
                <a href="{{ word.get_absolute_url }}">[{{ word.rating }}] {{ word.eng }} - {{ word.rus }}</a>
                ({{ word.description }}) |
                {% for cat in word.category.all %}
                    {{ cat }} |
                {% endfor %}
            </p>
        {% endfor %}
        <button type="submit">удалить</button>
        </form>
    </div>

    <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
    </div>
{% endblock %}



